@font-face {
    font-family: 'CopperplateDefault';
    src: url('../fonts/copperplate.otf') format('otf'),
    url('../fonts/copperplate.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CopperplateLight';
    src: url('../fonts/copperplate_light.otf') format('otf'),
    url('../fonts/copperplate_light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Recta';
    src: url('../fonts/Recta.ttf') format('ttf')

}